:root {
    --bg-color: #484444;
    --text-color: #FFFFFF;
    --primary: #301AD3;
    --secondary: #F93E3A;
    --black:#000000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
}
a{
    text-decoration: none;
}
.projects {
    background-color: var(--bg-color);
}

@font-face {
    font-family: Rokkit;
    src: url('../src/fonts/Rokkit/Rokkitt-Regular.ttf'), url('../src/fonts/Rokkit/Rokkitt-Bold.ttf'), url('../src/fonts/Rokkit/Rokkitt-Light.ttf');
}

@font-face {
    font-family: Coolvetica;
    src: url('../src/fonts/Coolvetica/coolvetica\ rg.otf'), url('../src/fonts/Coolvetica/coolvetica\ rg\ it.otf');
}

.proy-card {
    margin: 20px 0px;
    --bs-gutter-x: 0 !important;
}

.proy-card {
    border: var(--text-color) 5px solid;
    border-radius: 15px;
    padding: 12px 0px;
}

.carousel-inner {
    border-radius: 10px;
    height: 350px;
    overflow: hidden;
}

.proy-title {
    font-family: Coolvetica;
    color: var(--text-color);
    font-size: 40px;
    margin: 10px 40px !important;
}

.proy-text {
    font-family: Rokkit;
    color: var(--text-color);
    font-size: 20px;
    margin: 10px 40px;
}

.proy-link {
    margin: 10px 40px;
}

.proy-link {
    font-family: Rokkit;
    color: var(--primary);
    font-size: 30px;
}

.proy-link:hover {
    color: var(--secondary);
}

.projects {
    padding: 40px;
}


/**CSS DE CARLOS**/
/**GLOBALES**/

/**navbar__campo**/
.header{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../src/img/Banner-Marck2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
@media (min-width: 768px) {
    .header{
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../src/img/Banner-Marck2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        height: 100%;
    }
}
.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255,0.5);
  } 
.navbar__campo{
padding-top: 1rem;
padding: 2rem;
display: block;
text-align: center;
font-size: 2rem;
color: var(--text-color);
font-family: Rokkit;
}
.navbar__campo:hover{
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.679);
    transition: all 0.5s;
}
.logo-menu{
    max-width: 8.5rem;
}
.conjunto-logo{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.logo{
    max-width: 25rem;
}
.logo-text{
    padding-top: 3rem;
    font-family: Coolvetica;
    color: var(--text-color);
    font-size: 5rem;
    letter-spacing: 0.5rem;
}
.frase-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.frase{
    padding-left: 2rem;
    padding-right: 2rem;
    color: #ffffff;
    font-family: Rokkit;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    font-size: 3rem;
}
.frase-span{
    color: #ffffff;
    font-family: Rokkit;
    font-weight: bold;
}

/**AboutMe**/
.main{
    background: rgba(0, 0, 0, 0.6);
}
.contenedor__main{
    padding: 2rem;
}
.titulo__main{
    font-family: Coolvetica;
    font-size: xx-large;
    color: var(--text-color);
    text-align: center;
}
.informacion{
    padding-top: 2rem;
    gap: 5rem;
}
.informacion__parrafo{
    color: var(--text-color);
    font-family: Rokkit;
    font-size: large;
    line-height: auto;
    text-align: justify;
}

/**Footer**/
.footer{
    background-color: var(--black);
}
.footer__logo-div{
    max-width: 2rem;
}
.footer__texto{
    color: var(--text-color);
    font-size: medium;
}
.footer__derechos{
    color: var(--text-color);
}


