:root {
    --bg-color: #484444;
    --text-color: #FFFFFF;
    --primary: #301AD3;
    --secondary: #F93E3A;
}

.projects {
    background-color: var(--bg-color);
}

@font-face {
    font-family: Rokkit;
    src: url('../src/fonts/Rokkit/Rokkitt-Regular.ttf'), url('../src/fonts/Rokkit/Rokkitt-Bold.ttf'), url('../src/fonts/Rokkit/Rokkitt-Light.ttf');
}

@font-face {
    font-family: Coolvetica;
    src: url('../src/fonts/Coolvetica/coolvetica\ rg.otf'), url('../src/fonts/Coolvetica/coolvetica\ rg\ it.otf');
}

.proy-card {
    margin: 20px 0px;
    --bs-gutter-x: 0 !important;
}

.proy-card {
    border: var(--text-color) 5px solid;
    border-radius: 15px;
    padding: 12px 0px;
}

.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.proy-title {
    font-family: Coolvetica;
    color: var(--text-color);
    font-size: 40px;
    margin: 0px !important;
    padding: 10px 30px;
}

.proy-text {
    font-family: Rokkit;
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 30px;
    margin: 0px !important;
}

.proy-link {
    padding: 10px 30px;
}

.proy-link {
    font-family: Rokkit;
    color: var(--primary);
    font-size: 30px;
}

.proy-link:hover {
    color: var(--secondary);
}

.projects {
    padding: 40px;
}

.carousel {
    width: 25% !important;
}

.card-text {
    width: 74% !important;
}

.carousel-item {
    overflow: hidden;
}

.carousel-item img{
    min-width: 100%;
    min-height: 350px;
    height: 350px;
}

@media screen and (max-width: 1050px) {
    .carousel {
        width: 33% !important;
        height: 250px;
    }
    
    .card-text {
        width: 66% !important;
    }

    .carousel-item img{
        min-width: 100%;
        min-height: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 650px) {
    .carousel {
        width: 50% !important;
    }
    
    .card-text {
        width: 66% !important;
    }

    .carousel-item img{
        min-width: 100%;
        min-height: 250px;
        height: 250px;
    }

    .proy-text {
        display: none;
    }
    
    .proy-link {
        display: none;
    }

    .proy-title {
        width: 49%;
    }
}